$font-family-base: "Roboto", Arial, sans-serif;

$white: #fff;
$dark: #444;
$primary: #5C8A97;

$shadow: 0 10px 20px rgba(0, 0, 0, .3);
$radius: 5px;


// Cards
$card-border-color: $white;
$card-cap-bg: $white;
$card-cap-color: $dark;
$card-color: $dark;

